<p>First Name: {{record.first_name}}</p>


<form class="form-horizontal" action="/addfriends">
  <div class="form-group">
<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_coffee}}> Coffee</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_bar}}> Bar</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_restaurant}}> Restaurant</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_movie}}> Movie</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_hike}}> Hike</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_park}}> Park</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_gym}}> Gym</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_club}}> Club</label>
</div>

<div class="checkbox">
  <label><input type="checkbox" checked={{record.interest_churro}}> Churros</label>
</div>


<button class='btn btn-primary btn-block'>Add Friends</button>
