<h3 id="page-heading" style="my-3">Your Events</h3>

<!-- EVENT ACCORDIAN -->

{{#each record.Events}}
 <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{dataValues.id}}" aria-expanded="true" aria-controls="collapseOne">
          {{dataValues.event_name}}
        </button>
      </h5>
    </div>

    <div id="collapse{{dataValues.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Location: {{dataValues.event_location}}
        <br>
        Time: {{dataValues.event_time}}
      </div>
    </div>
  </div>
</div>
{{/each}}
<hr>
<button class='btn btn-primary btn-block' id="add-event-btn"><a href="/addevent/1">Add Event</a></button> 

<!-- your current location -->
<div>Current Location:<span id="user-location-display"> Los Angeles, CA</span></div>

<!-- update location button -->
<button class='btn btn-primary btn-block' id="location-update-btn">Update Location</button>
