<h3 id="page-heading" style="my-3">Your Events</h3>
<ul>
  {{#each record.Events}}
   <p>ID:{{Events.dataValues.id}} // {{dataValues.event_name}} // {{dataValues.event_time}} // {{dataValues.event_location}}</p>
  {{/each}}
</ul>
<hr>
<button class='btn btn-primary btn-block' id="location-update-btn"><a href="/addevent/{{record.dataValues.id}}">Add New Event</a></button>
{{!-- <button><a href="/addevent">Add Event</a></button> --}}
<!-- event list -->
{{!-- <ul class="list-group" id="event-list-display">
<li type="button" class="list-group-item">Event1</li>
<li type="button" class="list-group-item">Event2</li>
<li type="button" class="list-group-item">Event3</li>
<li type="button" class="list-group-item">Event4</li>
<li type="button" class="list-group-item">Event5</li>
</ul> --}}

<!-- your location -->
<div>Current Location:<span id="user-location-display"> Los Angeles, CA</span></div>

<!-- update location button -->
<button class='btn btn-primary btn-block' id="location-update-btn">Update Location</button>
